@font-face {
    font-family: titulo;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: texto;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3E5D8;
}

strong{
    color: #504d4d;
}

.titulo{
    font-family: titulo;
    font-size: 40px;
}

.textStyles{
    color: #6B6964;
    font-family: texto;
    font-size: 20px;
}

h2{
    color: #834630;
}

.position{
    margin-left: 60px;
    margin-top: 50px;
}

#container{
    margin: 0 auto;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 4%;
}

img{
    margin-top: 8%;
    margin-left: 10%;
    border-radius: 4%;
    width: 80%;
    height: 300px;
}

#introduction{
    margin: 0 auto;
    width: 80%;
    margin-top: 25px;
}

#introduction h1{
    font-size: 35px;
    color: #2D2A29;
    padding-bottom: 20px;
}

#preparation{
    width: 70%;
    height: 200px;
    margin-left: 120px;
    margin-top: 50px;
    background-color: #FFF7FC;
}

#preparation h2{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    color: #852D51;
}

#preparation ul li{
    text-align: start;
    width: 80%;
    margin-left: 30px;
    padding: 10px;
}

#ingredients {
    width: 80%;
    height: 350px;
    border-bottom: 1px solid grey;
}

#ingredients ul li{
    width: 80%;
    margin-left: 30px;
    padding: 10px;
}

#instructions{
    border-bottom: 1px solid grey;
}

#instructions ol li{
    width: 90%;
    margin-left: 30px;
    padding: 10px;

}

#nutrition p{
    margin-left: 20px;
    margin-top: 10px;
}

table{
    width: 90%;
    padding-top: 20px;
    margin-left: 20px;
    border-collapse: collapse;
}

th,
td {
    text-align: start;
    padding: 20px 10px;
}

td{
    color: #653D34;
}


tbody > tr {
    border-bottom: 1px solid #6B6964;
  }